/* import fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway');
/*
========================
  Font and color variables
========================
*/

* {
  box-sizing: border-box;
  font-weight: 200;
  color: #737373;
}
h1{
  color: #c4c4c4;
}
body{
  background-color: #353535;
  color: #c4c4c4;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  line-height: 1.45;
  display: flex;
  flex-wrap: wrap;
}
.sidebar {
  background: ;
  flex:1 1 20%;
  min-width: 300px;
  width: 100%;
  padding: 3em 2em;

}
.logo {
  text-transform: uppercase;
  margin-bottom: 3em;

  @media(min-width: 1200px){
    margin-bottom: 5em;
  }
}
span{
  color: #c4c4c4;
  font-weight: bold;
}
.nav-item {
  color: #737373;
  text-decoration: none;
  font-size: 1.7rem;
  display: inline-block;
  margin-right: 2em;

  @media (min-width: : 1500px;){
    display: block;
    margin: 7vh 0;
  }
  &.active {
      color: #c4c4c4;
  }
  &:hover {
    color: #c4c4c4;
  }
}
.main-content {
  padding: 5%;
  flex: 1 1 80%;
  min-height: 105vh;

}
.portifolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;
}
.portifolio-item {
  background: #f96855;
  color: #c4c4c4;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portifolio-item:hover{
  opacity: 1;
}
.small {
  grid-row: span 3;
  grid-column: span 1;
}
.medium {
    grid-row: span 3;
    grid-column: span 2;
}
.large{
  grid-row: span 3;
  grid-column: span 3;
}
.tall{
  grid-row: span 7;
  grid-column: span 2;
}
.wide{
  grid-row: span 4;
  grid-column: span 3;
}
.foto {
  grid-row: 3/4;
  grid-column: 1/2;
}
.mensagem-pagina-bebe{
  grid-row: span 1;
  grid-column: span 5;
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 1em;
}
.bg_video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  background-size: cover;
}
a > img {
  width: 96px;
  height: 96px;
  margin: 4px;
}
address{
    background: blue;
    opacity: 0.5;
    padding: 50px;
}
