/* import fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway');
/*
========================
  Font and color variables
========================
*/

* {
  box-sizing: border-box;
  font-weight: 200;
  color: #737373;
}
h1{
  color: #c4c4c4;
}
body{
  background-color: #353535;
  color: #c4c4c4;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  line-height: 1.45;
  display: flex;
  flex-wrap: wrap;
}
.sidebar {
  background: ;
  flex:1 1 20%;
  min-width: 300px;
  width: 100%;
  padding: 3em;

}
.logo {
  text-transform: uppercase;
  margin-bottom: 3em;

  @media(min-width: 1500px){
    margin-bottom: 5em;
  }
}
span{
  color: #c4c4c4;
  font-weight: bold;
}
.nav-item {
  color: #737373;
  text-decoration: none;
  font-size: 1.7rem;
  display: inline-block;
  margin-right: 2em;

  @media (min-width: : 1500px;){
    display: block;
    margin: 7vh 0;
  }
  &.active {
      color: #c4c4c4;
  }
  &:hover {
    color: #c4c4c4;
  }
}
.main-content {
  padding: 5%;
  flex: 1 1 80%;
  min-height: 100vh;

}
.portifolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 8px;
}
.portifolio-item {
  background: #f96855;
  color: #c4c4c4;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small {
  grid-row: span 3;
  grid-column: span 1;
}
.medium {
    grid-row: span 3;
    grid-column: span 2;
}
.large{
  grid-row: span 3;
  grid-column: span 3;
}
.tall{
  grid-row: span 7;
  grid-column: span 2;
}
.wide{
  grid-row: span 4;
  grid-column: span 3;
}
.one{
  background-image: url("../imagens/meubabydois.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top left;
  position: relative;
  transition: all 300ms;
}
.one:hover{
  background-position: center;
}
.two{
  background-image: url("../imagens/meubebe.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top left;
  position: relative;
  transition: all 300ms;
}
.two:hover{
  background-position: center;
}
.three{
  background-image: url("../imagens/meubaby.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: bottom left;
  position: relative;
  transition: all 1s;
}
.three:hover{
  background-position: center;
}
.five{
  background-image: url("../imagens/mylove.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: background-blend-mode 3s;
}
.five:hover{
  background-blend-mode: normal;
}
.four{
  background-image: url("../imagens/jafoimeubaby.jpg");
  background-blend-mode: normal;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: all 300ms;
}
.four:hover{
}
.six{
  background-image: url("../imagens/jafoimeubebe.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center left;
  position: relative;
  transition: all ease-in-out 0.5s;
}
.six:hover{
  background-position: top;
  background-blend-mode: normal;
}
.smalle{
  background-image: url("../imagens/jafoimeubebe.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center left;
  position: relative;
  transition: all ease-in-out 0.5s;
}
.smalle:hover{
  background-position: top;
  background-blend-mode: normal;
}
.mensagem-pagina-bebe{
  display: block;
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 1em;
}
