body{
  background-color: #353535;
  color: #c4c4c4;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  line-height: 1.45;
  display: flex;
  flex-wrap: wrap;
}
.sidebar {
  background: ;
  flex:1 1 20%;
  min-width: 300px;
  width: 100%;
  padding: 3em;

}
.logo {
  text-transform: uppercase;
  margin-bottom: 3em;

  @media(min-width: 1500px){
    margin-bottom: 5em;
  }
}
span{
  color: #c4c4c4;
  font-weight: bold;
}
.nav-item {
  color: #737373;
  text-decoration: none;
  font-size: 1.7rem;
  display: inline-block;
  margin-right: 2em;

  @media (min-width: : 1500px;){
    display: block;
    margin: 7vh 0;
  }
  &.active {
      color: #c4c4c4;
  }
  &:hover {
    color: #c4c4c4;
  }
}
.main-content {
  padding: 5%;
  flex: 1 1 80%;
  min-height: 175vh;

}
.portifolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 8px;
}
.portifolio-item {
  background: #f96855;
  opacity: 0.75;
  color: #c4c4c4;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small {
  background: none;
  grid-row: span 2  ;
  grid-column: span 1;
}
.large{
  grid-row: span 1;
  grid-column: span 4;
}
.tall{
  grid-row: span 7;
  grid-column: span 2;
}
.wide{
  grid-row: span 2;
  grid-column: span 2;
}
.mensagem-pagina-bebe{
  grid-row: span 1;
  grid-column: span 5;
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 1em;
}
.bg_videos {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
}
.one{
  background-image: url("../imagens/Desenhos/GatinhaQuero.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top left;
  position: relative;
  transition: all 300ms;
}
.one:hover{
  background-position: center;
}
.two{
  background-image: url("../imagens/Desenhos/Bonequinha.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top left;
  position: relative;
  transition: all 300ms;
}
.two:hover{
  background-position: center;
}
.three{
  background-image: url("../imagens/Desenhos/meuBebe.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top left;
  position: relative;
  transition: all 300ms;
}
.three:hover{
  background-position: center;
}
.four{
  background-image: url("../imagens/Desenhos/meuCoracao.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top left;
  position: relative;
  transition: all 300ms;
}
.four:hover{
  background-position: bottom;
}
.five{
  background-image: url("../imagens/Desenhos/senhoraFlores.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top left;
  position: relative;
  transition: all 300ms;
}
.five:hover{
  background-position: center;
}
.six{
  background-image: url("../imagens/Desenhos/mulher02.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top left;
  position: relative;
  transition: all 300ms;
}
.six:hover{
  background-position: center;
}
.seven{
  background-image: url("../imagens/Desenhos/juliaEliza.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top left;
  position: relative;
  transition: all 300ms;
}
.seven:hover{
  background-position: center;
}
.eight{
  background-image: url("../imagens/Desenhos/Menina.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top left;
  position: relative;
  transition: all 300ms;
}
.eight:hover{
  background-position: center;
}
